<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
<link href="css/bootstrap.css" rel="stylesheet"></head>
<body>

	<form class="text-center border border-light p-5" action="/addSection" method="post">
					<input type="button" onclick="location.href='addSection.html';" value="Add new Section" />
					<input type="button" onclick="location.href='ListOfSection.html';" value="List Of Section" />
					<input type="button" onclick="location.href='ListOfCategory.html';" value="List Of Category" />
					<input type="button" onclick="location.href='/ListOfItem.html';" value="List Of Item" />
					
		</form>
	
<!-- Popper.JS -->
	<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js"></script>
</body>
</html>